.centering-horizontal {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: var(--media-content-width-small);
    text-align: center;
}

.centering-horizontal.__bottom {
    bottom: 20px;
}