.image-wrapper {
    margin: 0 auto;
    width: var(--media-content-width);
    height: var(--media-content-height);
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}