.title_first-line {
    text-align: right;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 1em;
    color: #EDEDED;
}

.title_second-line {
    text-align: right;
    font-size: 50px;
    line-height: 1em;
    color: #FFCB05;
}