.new-category-form {
    font-size: var(--font-size-m);
}

.new-category-input {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-m);
    color: var(--color-white);
}

.new-category-input:focus,
.new-category-input:focus-visible,
.new-category-input:active {
    border: none;
    outline: none;
}