.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
    margin: 0 auto 10px auto;
}

.label {
    color: var(--color-yellow);
}

.input {
    padding: 4px 8px;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--color-dark-blue);
    border: 2px outset var(--color-yellow);
    color: var(--color-white);
    border-radius: 16px;
    width: 150px;
}

