.button {
    margin: 0;
    padding: 4px 8px;

    font-size: 20px;
    text-decoration: none;

    background-color: #11296B;
    border: 2px outset #FFDB57;
    color: #EDEDED;

    border-radius: 16px;
}

.button:hover, .button:active, .button:focus {
    background-color: #00509D;
    cursor: pointer;
}