.table-data {
    text-align: center;
    border: 4px solid #EDEDED;

    padding: 20px;
}

.table-data.__visited .table-data-link {
    color: #11296B;
}

.table-data-link {
    text-decoration: none;
}