.action {
    margin: 0;
    padding: 4px 8px;

    font-size: 20px;
    text-decoration: none;

    background-color: var(--color-dark-blue);
    border: 2px outset var(--color-yellow);
    color: var(--color-white);

    border-radius: 16px;
    cursor: pointer;
}

.action:hover, .action:active, .action:focus {
    background-color: var(--color-light-blue);
}